.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  background-color: #152850;
}

.logo {
  width: 120px;
}

.logout-btn {
  background-color: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
}

.logout-btn:hover {
  background-color: #ffffff;
  color: #152850;
  transition: 0.3s;
}
